@model A11dDemo.web.Models.MenusModel
@{
    ViewBag.Title = Resources.Menus.TituloAccesible;
}

<h2>@Resources.Menus.TituloAccesible</h2>

@Html.Partial("_Menu", Model.Items)

@section scripts
{
	<script type="text/javascript" src="~/Scripts/menus_keyboard.js"></script>
}