
@{
	ViewBag.Title = Resources.Idiomas.TituloBien;
}

<h2>@Resources.Idiomas.TituloBien</h2>
<p>@MvcHtmlString.Create(String.Format(Resources.Idiomas.TextoPalabrasIngles, "<span lang=\"en\">" + Resources.Idiomas.TextoIngles + "</span>"))</p>