@{
	ViewBag.Title = "Controles sin semántica";
}
<div class="jumbotron">
	<h2>Controles sin semántica</h2>
	<ul class="list-group">
		<li><div class="btn-link" id="lnkItem1">Ítem 1</div></li>
		<li><div class="btn-link" id="lnkItem2">Ítem 2</div></li>
		<li><div class="btn-link" id="lnkItem3">Ítem 3</div></li>
	</ul>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-6">
			<label class="label" for="txtNombre">Nombre:</label>
		</div>
		<div class="col-md-6">
			<input id="txtNombre" type="text" />
		</div>
		<div class="col-md-offset-6">
			<div class="btn btn-primary" id="btnEnviar">Enviar</div>
		</div>
	</div>
</div>
@section scripts
{
	@Scripts.Render("~/Scripts/sinSemantica.js")
}