
@{
    ViewBag.Title = "Si haces ruido, se jodió el oído";
}

<h2>Si haces ruido, se jodió el oído</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/v2AC41dglnM?autoplay=1" frameborder="0" allowfullscreen></iframe>
<p>Y ahora, imagínate a un lector de pantallas leyendo este texto con la musiquilla de fondo.</p>
<p>¿Cómodo? <span class="warning">¡No, es un asco!</span></p>