@{
	ViewBag.Title = Resources.Home.Contacto;
}
<h2>@Resources.Home.Contacto</h2>
<div class="jumbotron">
	<dl>
		<dt>@Resources.Home.Twitter</dt>
		<dd><a href="https://www.twitter.com/kastwey" target="_blank">@@kastwey</a></dd>
		<dt>Blog</dt>
		<dd><a href="https://www.programad.me">https://www.programad.me</a></dd>
		<dt>@Resources.Home.Github</dt>
		<dd><a href="https://github.com/kastwey" target="_blank">https://github.com/kastwey</a></dd>
	</dl>

</div>