
@{
    ViewBag.Title = "Miénteme";
}

<h2>Miénteme</h2>
<div class="jumbotron">
	<p aria-hidden="true">A todos nos cae mal Juanjo. Es un petardo y no tiene ni idea de accesibilidad. ¡Y además su perro es muy feo!</p>
	<div class="sr-only"><p>¡Hombre, Juanjo! ¡Es un placer tenerte entre nosotros! ¡Eres un crack!</p></div>
</div>
