
@{
    ViewBag.Title = Resources.multimedia.Ruido;
}

<h2>@Resources.multimedia.Ruido</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/v2AC41dglnM?autoplay=1" frameborder="0" allowfullscreen></iframe>
<p>@Resources.multimedia.Imaginar</p>
<p><span class="warning">@Resources.multimedia.Imposible</span></p>