@{
	ViewBag.Title = "Con estructura";
}
<div class="jumbotron">
	<h2 class="h2">¿Por qué esto sí está bien?</h2>
	<p class="text-justify text-info">Porque se usan encabezados de verdad</p>
	<h2 class="h2">¿No puedo usar solo divs y ya? ¡Si se va a ver igual!</h2>
	<p class="text-justify text-warning">¡No! ¡NO la líes, que lo estabas haciendo muy bien!</p>
	<h2 class="h2">Menú</h2>
	<nav>
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.first.com">Primer ítem</a></li>
			<li class="list-group-item"><a href="http://www.second.com">Segundo ítem</a></li>
			<li class="list-group-item"><a href="http://www.third.com">Tercer ítem</a></li>
		</ul>
	</nav>
</div>

