
@{
    ViewBag.Title = Resources.Interfaz.Mienteme;
}

<h2>@Resources.Interfaz.Mienteme</h2>
<div class="jumbotron">
	<p aria-hidden="true">@Resources.Interfaz.JuanjoCaeMal</p>
	<div class="sr-only"><p>@Resources.Interfaz.JuanjoCAeBien</p></div>
</div>
